<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUsvreLJq53kQYEqNaSGsd5ppjtF72JF8</string>
	<key>GCM_SENDER_ID</key>
	<string>667638293142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jerry.Firebase-Todo-App</string>
	<key>PROJECT_ID</key>
	<string>chatbot-seiagi</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-seiagi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667638293142:ios:c32a226313802123a018b7</string>
	<key>DATABASE_URL</key>
	<string>https://chatbot-seiagi.firebaseio.com</string>
</dict>
</plist>